body {
	background: black;
}
* {
	min-height: 10px;
	padding: 2px;
}
.postcard {
	background: white;
	width: 400px;
	height: 280px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 400px;
	margin: 0px;
}
.postcard-body {
	display: flex;
}
.body-left p {
	margin-top: 5px;
}
.body-left,
.body-right {
	padding: 5px;
}
input {
	border-top: 0ch;
	border-left: 0ch;
	border-right: 0ch;
	border-bottom: 1px solid;
	color: gray;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: darkgrey;
	padding: 10px;
	border: none;
}
